<!DOCTYPE html>
<html>
  <head>
    <title>HelloRoR</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
   <div>
   	<%= link_to "<h1 style='color: brown;'>Hi Hi RoR</h1>".html_safe, root_path %>
   	<%= link_to "Go to First", first_path %>
	<%= link_to "Go to Second", second_path %>
   </div>
    <%= yield %>
  </body>
</html>
