<!DOCTYPE html>
<html>
  <head>
    <title>HelloRoR</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
   <div>
   	<%= link_to root_path do %>
   		<h1 style='color: brown;'>Hi Hi RoR</h1>
   	<% end %>
   	<%= "Hello R" %>
   	<%= link_to "Go to First", first_path %>
	<%= link_to "Go to Second", second_path %>
  	<%= link_to "Posts/1", controller: :home, action: :show_post, id: 1, name: 'pregress' %>
  	
  	<%# var %>
  	<%= @testName %>
   </div>
    <%= yield %>
  </body>
</html>
